<body style="background: #fff;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="pb-navbar">
    <div class="container">
      <a class="navbar-brand ml-0" href="/">Travel Planner</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
        aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="probootstrap-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pr-4"><a class="nav-link" href="/hotels">Hotel</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/holiday">Holiday</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/faq">FAQ</a></li>
          <li class="nav-item pr-4">
            {{{loginBtn}}}
          </li>
          <li class="nav-item pr-4">
            {{{signupBtn}}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container ">
    <div class="">
      <h1 class="center" style="padding: 4px; margin:7px; display:block;"><kbd>Frequently Asked Questions</kbd></h1>
      <a href="/adminlog" class="btn btn-warning btn-md" style="position : relative; top:-55px; left:1030px;">Admin? Log
        in</a>

    </div>
    {{#each data}}

    <div class="card card-body mb-3">
      <h5>Q: {{this.question}}</h5>
      <p style="font-weight:300;"><strong><i> A: {{this.answer}} </i> </strong> </p>

    </div>
    {{/each}}
  </div>

</body>