  <style media="screen">
    h1{
      background-color : #7F636E;
      color: white;
      padding: 20px;
      text-align : center;
      margin : -8px;
    }
    html{
      background-color : #FBF2C0;
    }
    a{
      text-decoration : none;
      align-text: center;
      display : flex;
      align-text : center;
      justify-content: center;
      margin : 25px;
      background-color: #511C29;
      color : #A29C9B;
    }
    #Question section p {
      display : none;
      padding-left: 25px;
      padding-right : 25px;
    }
    #Question section a:hover{
      color : white;
    }
    #Question section:target p {
      display : block;
    }
    p{
      font-size : 28px;
    }
  </style>
  
  <h1>Frequently Asked Questions</h1>
    <main id="Question">
      <section class="" id="ans1">
        <a href="#ans1"><h2>Does Travel-Planner have family trips? </h2></a>
        <p>
          Travel-Planner offers a wide range of Family Adventures around the globe. The minimum age (for Family trips) varies depending on destination, and Intrepid has set minimum ages to ensure that the included activities suit each age range. Additionally, you’ll notice that some of the more adventurous destinations have a higher minimum age. Please view our family adventures for more information.
        </p>
      </section>
      <section class="" id="ans2">
        <a href="#ans2"><h2>How do I organise my Visa?</h2></a>
        <p>
Please contact the relevant local embassy, or visit a travel agent, to organise your visa/s.        </p>
      </section>
      <section class="" id="ans3">
        <a href="#ans3"><h2>Do you help with Visas?</h2></a>
        <p>
          we can’t assist in the actual application of visas, but you can do this through the embassy or with the support of a travel agent.
        </p>
      </section>
      <section class="" id="ans4">
        <a href="#ans4"><h2>How do I find out about the visa requirements for the trip I am interested in?</h2></a>
        <p>
          While we do include information in our Essential Trip Information about visa requirements, we always recommend that passengers check with their local embassy as visa rules can change without warning. Embassy websites in your home country will always have information about requirements, visa costs and will provide the required forms. If you are uncomfortable with the visa process, you can visit a travel agent who can arrange these for you at a cost.

        </p>
      </section>
      <section class="" id="ans5">
        <a href="#ans5"><h2>
What essential documents do I need to take?</h2></a>
        <p>
          It’s important that you always travel with your current passport, visas, travel insurance
        </p>
      </section>


    </main>
