<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="pb-navbar">
    <div class="container">
      <a class="navbar-brand ml-0" href="/">Travel Planner</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
        aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="probootstrap-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pr-4"><a class="nav-link" href="/hotels">Hotel</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/holiday">Holiday</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/faq">FAQ</a></li>
          <li class="nav-item pr-4">
            {{{loginBtn}}}
          </li>
          <li class="nav-item pr-4">
            {{{signupBtn}}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
{{!-- end --}}
<header>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://images.unsplash.com/photo-1558271229-357389825a03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Himachal</h3>
          <p class="lead">Enjoy meserising vast scenic landscapes</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1566376010888-11116dec4ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Kashmir</h3>
          <p class="lead">Heaven on earth!</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://images.unsplash.com/photo-1560179406-1c6c60e0dc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">Goa</h3>
          <p class="lead">Enjoy the sun, sand and surf.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<!-- Page Content -->
<!-- Header -->
<header class="bg-primary text-center py-2 mb-2">
  <div class="container">
    <h1 class="font-weight-light text-white">Book With Us Now and get 10% discount!</h1>
  </div>
</header>
      <!-- Page Content -->
<div class="container">
          <div class="col-lg-12">

  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Our Popular Destinations</h1>
  <hr class="mt-2 mb-5">
  <div class="row text-center text-lg-left">
    <div class="col-lg-6 col-md-4 col-6 p-1">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid w-100" src="https://images.unsplash.com/photo-1535368893768-202b63fc17e1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Andaman & Nicobar</h2>
            </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1560239613-2242f5c96248?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="">
            
          </a>
          <div class="card-img-overlay  text-white">
                <h2 class="ugali">Assam</h2>
            </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <a href="#" class="d-block h-100">
            <img class="img-fluid " src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Gujrat</h2>
            </div>
    </div>
	  <div class="col-lg-3 col-md-6 col-6 p-1">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Goa</h2>
            </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6 p-1">
      <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Kerela</h2>
            </div>
    </div>
    <div class="col-lg-6 col-md-8 col-8 p-1">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid w-100 fix-im" src="https://images.unsplash.com/photo-1561289023-56c2e530bc8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">West Bengal</h2>
            </div>
    </div>
	   <div class="col-lg-4 col-md-8 col-6 p-1 fix-im">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1504705759706-c5ee7158f8bb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Rajasthan</h2>
            </div>
    </div>
    <div class="col-lg-4 col-md-6 col-8 p-1">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid fix-im" src="https://images.unsplash.com/photo-1558271229-357389825a03?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Himachal</h2>
            </div>
    </div>
    <div class="col-lg-4 col-md-4 col-6 p-1">
      <a href="#" class="d-block  h-100">
            <img class="img-fluid fix-im" src="https://images.unsplash.com/photo-1566376010888-11116dec4ebb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
          </a>
          <div class="card-img-overlay text-white">
                <h2 class="ugali">Kashmir</h2>
            </div>
    </div>
	</div>
</div>
</div>
<!-- /.container -->
<header class=" py-2 mb-2">
  <div class="container">
<h5 class="font-weight-light text-center text-lg-left mt-4 mb-0">Select duration of your holiday</h5><br/>
<form style="display:inline-block">
    <div class="input-group">
                <label class="input-group-text" for="fromDate1">From  </label>
                <input type="date" name="fromDate1" id="fromDate1"   class="" />
            {{!-- </div>
            <div class=""> --}}&nbsp; &nbsp;&nbsp;
                <label class="input-group-text" for="toDate1">To </label>
                <input type="date" name="toDate1" id="toDate1"   class="" />
            </div>
</form>
</div>
 </div>
</header>

<!-- Page Content -->
<div class="container py-4 mt-4">

  <!-- Page Heading -->
  <h1 class="my-4 text-info display-4">Destination Packages<BR/>
   
  </h1>
	
{{!-- <button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Miami</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Moshi</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Dar es salaam</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Arusha</button>
<button type="button" class="text-info shadow border-0 btn btn-outline-secondary">Penckin</button> --}}


  <div class="row mt-4">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1560179406-1c6c60e0dc76?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            Goa
          </h4>
          <p class="card-text">Cash in on your long-awaited vacation with this holiday in Goa this summer. With a plethora of beautiful attractions to explore, there is something for everyone. Goa has more than 50 beaches, so you could take a stroll along the stunning coastlines of South Goa or go crazy at the always-buzzing seashores of North Goa. Or, you could just relax! Revel in the comfort.</p>  
        </div>
        <button type="button" id="holidayGoa" value="Goa" class="btn btn-primary card-text">Send Enquiry</button>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1535368893768-202b63fc17e1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            Andaman with Neil Island
          </h4>
          <p class="card-text">Find a slice of paradise on this tour to Andaman. Your vacation will begin in Port Blair with an excursion to Corbyn's Cove Beach and dinner onboard a cruise. Further, the white shores of Radhanagar Beach at Havelock Island will take your breath away. A similar experience awaits you at Neil Island, where you will spend time at the splendid Bharatpur Beach. On the last day, see the exhibits about the sufferings of Indian freedom fighters held captive in Andaman at the Cellular Jail in Port Blair.</p>
        </div>
        <button type="button" id="holidayAndaman" value="Andaman with Neil Island" class="btn btn-primary card-text">Send Enquiry</button>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="https://images.unsplash.com/photo-1566837497312-7be7830ae9b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            Kashmir
          </h4>
          <p class="card-text">Get the best of heavenly Kashmir with this vacation. Witness first hand what makes Srinagar such a romantic place. In Gulmarg, spend some time at the world’s highest golf course, frequented by the British at one time. Admire the stunning views from the town of Pahalgam, located at an altitude of 8,989 feet. Sheshnag River is a spot to unwind with fresh air and the picturesque view of the snowcapped mountains. Take a relaxing stroll at the 16th-century Mughal Gardens in Srinagar.!</p>
        </div>
        <button type="button" id="holidayKashmir" value="Kashmir" class="btn btn-primary card-text">Send Enquiry</button>
      </div>
    </div>
    {{!-- <div class="col-lg-3 col-sm-6 mb-4">
      <div class="card shadow border-0 h-100">
        <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#">Hotel Packager</a>
          </h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div> --}}


  </div>
  </div>
  
  
<!-- /.container -->