<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="pb-navbar">
    <div class="container">
      <a class="navbar-brand ml-0" href="/">Travel Planner</a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar"
        aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="probootstrap-navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pr-4"><a class="nav-link" href="/hotels">Hotel</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/holiday">Holiday</a></li>
          <li class="nav-item pr-4"><a class="nav-link" href="/faq">FAQ</a></li>
          <li class="nav-item pr-4">
            {{{loginBtn}}}
          </li>
          <li class="nav-item pr-4">
            {{{signupBtn}}}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div id="back-img">
    <div class="row">
      <div class="col-6">
        <div class="title-text">
          <h1 style="font-family: 'Satisfy'; display: block">Welcome to </h1>
          <p><span
              style="font-size: 90px; padding-left: 40px; margin-top: 240px; display: block; font-family: 'Dancing Script', cursive; color: black; text-shadow: -4px 3px 0 #FF0000 ;">Travel
              Planner </span></p>
        </div>
      </div>
      <div class="col-6">
        <div class="search-box effect7">
          <h3><kbd>Plan Your Journey</kbd></h3>
          <div class="row">

            <!--    first row  -->
            <form autocomplete="on">
              <div class="row inside form-group ui-widget">
                <div class="col">
                  <input type="text" class="form-control ui-widget" placeholder="From" id="originPlace" class="airport">
                </div>
                <div class="col" id="aright" style="margin-left: 0px; margin-right: 25px;">
                  <input type="text" class="form-control" placeholder="To" id="destinationPlace" class="airport">
                </div>
              </div>
              <!-- second row  -->
              <div class="row date top-fix">
                <div class="col-md-5 inside  form-group">
                  <label for="">Start Date:</label>
                  <input type="date" class="form-control" id="startDate">
                </div>
                <p><span id="position">&#8652;</span></p>
                <div class="col-md-5 inside form-group">
                  <label for="">Return Date:</label>
                  <input type="date" class="form-control" id="returnDate">
                </div>
              </div>
            </form>
            <div class="center" style="margin-left: 170px ; margin-top: -30px">
              <button class="btn btn-primary" style="width: 200px ; font-size: 20px" id="submitBtn">Search</button>
            </div>
          </div>

        </div>
      </div>
      {{{profileBtn}}}
    </div>
  </div>

</div>

<div class="results m-5 p-5 pb-5" id="FlightResult">

</div>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="lgoinModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="lgoinModalTitle">Login To Your Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="ml-3 mr-3">
          <div class="form-group">
            <label for="loginUsername">Email address</label>
            <input type="email" class="form-control" id="loginUsername" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
              else.</small>
          </div>
          <div class="form-group">
            <label for="loginPassword">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
          </div>

          <div class="modal-footer">
            <div>
              <a href="/" data-toggle="modal" data-target="#resetPassModal" data-dismiss="modal">
                Forget Password?
              </a>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="loginToYourAccount" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- Login Modal End --}}

{{!-- SignUp Modal start --}}

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalTitle">Create New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="ml-3 mr-3">
          <div class="form-group">
            <label for="signupUsername">Email address</label>
            <input type="email" class="form-control" id="signupUsername" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
              else.</small>
          </div>
          <div class="form-group">
            <label for="signupPassword">Password</label>
            <input type="password" class="form-control" id="signupPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="passMatch">Confirm Password</label>
            <input type="password" class="form-control" id="passMatch" placeholder="Password">
          </div>
          <div class="modal-footer">
            <div>
              <a href="/" data-toggle="modal" data-target="#loginModal" data-dismiss="modal">
                Already created account?
              </a>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="signUpButton" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- SignUp Modal End --}}


{{!-- Reset Password Modal Start --}}

<div class="modal fade" id="resetPassModal" tabindex="-1" role="dialog" aria-labelledby="resetPassModalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPassModalTitle">Reset Your Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="ml-3 mr-3">
          <div class="form-group">
            <label for="resetUsername">Email address</label>
            <input type="email" class="form-control" id="resetUsername" aria-describedby="emailHelp"
              placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
              else.</small>
          </div>
          <div class="form-group">
            <label for="resetPassword">Password</label>
            <input type="password" class="form-control" id="resetPassword" placeholder="Password">
          </div>
          <div class="form-group">
            <label for="resetPassMatch">Confirm Password</label>
            <input type="password" class="form-control" id="resetPassMatch" placeholder="Password">
          </div>
          <div class="modal-footer">
            <div>
              <a href="/" data-toggle="modal" data-target="#signupModal" data-dismiss="modal">
                Create Account
              </a>
            </div>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="resetPassBtn" class="btn btn-primary">Reset password</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

{{!-- Reset Password Modal Ends --}}